version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file: .env
    entrypoint: /usr/local/bin/entrypoint.sh
    networks:
      - pms_network
    volumes:
      - .:/app 

  websocket:
    build: .
    ports:
      - "8001:8001"
    depends_on:
      - db
    env_file: .env
    entrypoint: /usr/local/bin/asgi-entrypoint.sh
    networks:
      - pms_network
    volumes:
      - .:/app 

  db:
    image: postgres:14
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - pms_network

volumes:
  db_data:

networks:
  pms_network:
    driver: bridge
